<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="html" scope="shop">
            <name>wysiwyg_example</name>
            <label>Wysiwyg Example</label>
            <description>This is just an example text field.</description>
        </element>
    </elements>

</config>